<div class="container background row m-0">
    <div class="col-5"></div>
    <div *ngIf="!registerMode" class="col-7 d-flex align-items-center justify-content-center ">
        <div>
            <h1 class="text-center">Begin your trading journey..</h1>
            <p class="lead">Come on in sell or buy anything in mind... all you need is to sign up!</p>
            <div class="d-flex justify-content-center my-4">
              <img src="/assets/images/OLX-Symbol.png" alt="" width="140" height="80">
            </div>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2 mx-2">Register</button>
                <!-- <button class="btn btn-info btn-lg">Learn more..</button> -->
            </div>
        </div>
       
    </div>

    <div *ngIf="registerMode" class="container" class="col d-flex align-items-center justify-content-center">
       
            <div class="col px-lg-5 mx-lg-5">
                <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
            </div>
        
    </div>
</div>