.background{
    background-image: url("/assets/images/back ground 2.jpg");
    background-color: #cccccc;
    height: 604px;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
